
body{
    background-color: rgb(214, 206, 206);
}
/* max szerokość kolumny 1200px i wyśrodkowanie */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* pozbywamy się podkreśleń linków */
a {
    text-decoration: none;
}

/* logo po lewej, przycisk logowania po prawej */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

/* kolorowe logo */
.logo {
    color: #5e9748;
    font-size: 5em;
    font-weight: 700;
}

/* efekt przycisku logowania */
.login-button {
    background-color: #5e9748;
    color: white;
    font-size: 1em;
    padding: 15px 20px;
    line-height: 18px;
    font-weight: bold;
    letter-spacing: .1em;
}

/* po najechaniu na przycisk lekka przezroczystość */
.login-button:hover {
    opacity: 70%;
}

/* usuwamy domyślne style przeglądarki i dodajemy flexboxa,
kafelki mają zajmować tyle samo miejsca */
.categories > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* kafelki mają wypełniać całą przestrzeń i być lekko przezroczyste */
.categories > ul > li {
    flex-grow: 1;
    padding: 0.5rem;
    font-weight: 500;
    border: 2px solid;
    color: white;
    opacity: 0.8;
}

/* po najechaniu na kafelek usuwamy przezroczystość */
.categories > ul > li:hover {
    opacity: 1;
}

/* wyśrodkowanie tekstu na kafelkach i zmiana koloru linków */
.categories > ul > li > a {
    color: inherit;
    display: block;
    text-align: center;
}

/* kolor kafelków */
.categories > ul > li {
    background-color: #211f2b;
}



/* ramka i odstępy */
.ramka {
    background-color: #917cfa;
    border: 1px solid #BDBDBD;
    color: white;
    border-radius: 4px;
    margin-top: 10px;
    padding: 16px;
    font-size: 1.2rem;

}


footer {
    margin-top: 20px;
    text-align: center;
}

/* kolor kafelków */
.categoriess > ul > li {
    background-color: #29a01b;
}

/* kolor kafelków */
.categoriess > ul > li:nth-child(3n) {
    background-color: #dc9e18;
}

.categoriess > ul > li:nth-child(3n+1) {
    background-color: #29a01b;
}

.categoriess > ul > li:nth-child(3n+2) {
    background-color: #ee521e;
}

/* kafelki mają wypełniać całą przestrzeń i być lekko przezroczyste */
.categoriess > ul > li {
    flex-grow: 1;
    padding: 0.5rem;
    font-weight: 500;
    border: 2px solid;
    color: white;
    opacity: 0.8;
}

/* po najechaniu na kafelek usuwamy przezroczystość */
.categoriess > ul > li:hover {
    opacity: 1;
}

/* wyśrodkowanie tekstu na kafelkach i zmiana koloru linków */
.categoriess > ul > li > a {
    color: inherit;
    display: block;
    text-align: center;
}

/* usuwamy domyślne style przeglądarki i dodajemy flexboxa,
kafelki mają zajmować tyle samo miejsca */
.categoriess > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}